# Django
DEBUG=1
SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

# Database
DATABASE=postgres
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=mydb
SQL_USER=myuser
SQL_PASSWORD=mypassword
SQL_HOST=db
SQL_PORT=5432

# Superuser (auto-created on startup if it doesn't already exist)
DJANGO_ADMIN_USERNAME=
DJANGO_ADMIN_EMAIL=
DJANGO_ADMIN_PASSWORD=